// base
/* 変数 */
$base-font: "Open Sans", sans-serif;
$primary-color: #1161ee;
$background-color: rgba(40, 57, 101, 0.9);
$input-background: rgba(255, 255, 255, 0.1);

/* 基本の設定 */
body {
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px $base-font;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// layout
/* レイアウト */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// main
/* ログインフォーム */
.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  .login-php {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: $background-color;
  }

  .login__form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

    &--sign-in,
    &--sign-up {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all 0.4s linear;
    }
  }
}

.tab,
.login-form {
  .group {
    margin-bottom: 15px;

    .label,
    .input,
    .button {
      width: 100%;
      color: #fff;
      display: block;
    }

    .input,
    .button {
      border: none;
      padding: 15px 20px;
      border-radius: 25px;
      background: $input-background;
    }

    .button {
      background: $primary-color;
    }

    input[data-type="password"] {
      text-security: circle;
      -webkit-text-security: circle;
    }

    .label {
      color: #aaa;
      font-size: 12px;
    }

    .check:checked + label {
      color: #fff;

      .icon {
        background: $primary-color;
        &::before {
          transform: scale(1) rotate(45deg);
        }
        &::after {
          transform: scale(1) rotate(-45deg);
        }
      }
    }

    .icon {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      position: relative;
      display: inline-block;
      background: $input-background;

      &::before,
      &::after {
        content: "";
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        transition: all 0.2s ease-in-out 0s;
      }

      &::before {
        left: 3px;
        width: 5px;
        bottom: 6px;
        transform: scale(0) rotate(0);
      }

      &::after {
        top: 6px;
        right: 0;
        transform: scale(0) rotate(0);
      }
    }
  }
}

#tab-1:checked ~ .login__form .login__form--sign-in,
#tab-2:checked ~ .login__form .login__form--sign-up {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot-lnk {
  text-align: center;
}
