// edit_memo.php

/* ここからedit_memo.phpの指定 */
.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: auto;
    background-color: $primary-color;
    color: $base-background-color;
    padding: 10px;
    // ネスト
    &-header {
        text-align: center;
        margin-bottom: 20px;
    }

    &-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 20px;
        width: 100%;
        min-height: auto;
    }

    &-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    &-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.edit-input,
.edit-textarea,
.edit-button {
    padding: 10px;
    border-radius: 10px;
}
.inout.edit-input {
    height: 40px;
}
.input.edit-textarea {
    height: 200px;
}
.input.edit-button {
    width: auto;    
}

.foot-link {
    text-align: center;
    margin-bottom: 10px;
}