// mobile


/* index.php モバイル用スタイル */
/* モバイル用スタイル */
@media screen and (max-width: 600px) {
  .container {
    background-color: #283965;
  }
  
  .login-php {
    background-color: #283965;
    padding: 20px 10px;
    height: auto;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .tab {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .sign-in-htm, .sign-up-htm {
    width: 100%;
    padding: 20px;
  }
}

/* dashboard.php モバイル用スタイル */

@media screen and (max-width: 600px) {
  body {
    overflow: auto;
  }

  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "memo"
      "nav";
  }

  .dashboard-header {
    grid-area: header;
  }

  .memo {
    grid-area: memo;
  }

  .nav {
    grid-area: nav;
  }
}


/* edit_memo.php モバイル用スタイル */
@media screen and (max-width: 600px) {
  .container {
    background-color: $primary-color;
  }

  .edit {
    width: 100%; /* 画面幅いっぱいに */
    overflow: hidden; /* 子要素がはみ出さないように */
  }


}
